<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login and Registration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>

</head>

<body>
    <h1>Subscriptions</h1>
    <h2>Login</h2>
    {% with messages = get_flashed_messages(category_filter=['log_error']) %}     <!-- declare a variable called messages -->
    {% if messages %}                                <!-- check if there are any messages -->
        {% for message in messages %}                <!-- loop through the messages -->
            <p>{{message}}</p>                       <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/login" method="post">
        <p>Email: <input name='email' type='email'></p>      
        <p>Password: <input name='password' type='password'></p>          
        <input type="submit" value="Login">
    </form>
    <h2>Registration</h2>
    {% with messages = get_flashed_messages(category_filter=['reg_error']) %}     <!-- declare a variable called messages -->
    {% if messages %}                                <!-- check if there are any messages -->
        {% for message in messages %}                <!-- loop through the messages -->
            <p>{{message}}</p>                       <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/register" method="post">
        <p>First Name: <input name='first_name' type='text'></p>      
        <p>Last Name: <input name='last_name' type='text'></p>      
        <p>Email: <input name='email' type='email'></p>      
        <p>Password: <input name='password' type='password'></p>       
        <p>Confirm Password: <input name='confirm_password' type='password'></p>          
        <input type="submit" value="Register">
    </form>
</body>

</html>